.about-section {
	padding-bottom: 0 !important;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.grid-item {
	position: relative;
	width: 25%;
	margin: 10px;
	border: 1px solid #ddd;
	text-align: center;
	overflow: hidden;
}

.grid-item img {
	width: 100%;
	height: auto;
	display: block;
}

.grid-item .text-container {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	font-size: 20px;
}

.centered-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
