.hero-section {
	padding-top: 5rem !important;
	padding-bottom: 0 !important;
}

.hero-container {
	background-image: url('../assets/background.jpg');
	background-size: cover;
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text-box {
	background-color: rgba(0, 0, 0, 0.5);
	height: 30%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.text-box h1 {
	font-size: 36px;
}

.text-box p {
	font-size: 20px;
}
