.person-management {
  border: 2px solid black;
  padding: 20px;
  background-color: #f2f2f2;
  width: 300px;
  margin-bottom: 20px;
}

.person-management h3 {
  margin-bottom: 10px;
}

.person-info {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  border: 2px solid black;
  padding: 10px;
  background-color: #f2f2f2;
  width: calc(33.33% - 10px);
  text-align: center;
}

.button a {
  text-decoration: none;
  color: black;
}
