.form-container {
	width: 30vw;
	padding: 20px;
	border: 1px solid #fff;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

h1 {
	margin-bottom: 1.5rem;
}

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.input-container.error input {
	border-color: #e74c3c;
}

.input-container.error small {
	visibility: visible;
	color: #e74c3c;
}

.input-container > label {
	font-size: 20px;
	margin-bottom: 5px;
}

.input-container > input {
	padding: 5px;
	height: 40px;
	font-size: 18px;
}

.submit {
	margin-bottom: 0;
	align-items: flex-end;
}

.submit input {
	width: 30%;
	padding: 10px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.submit input:hover {
	background-color: #006ee5;
}
