/* navbar */
.sidenav {
  background-color: var(--lead-black);
  box-shadow: var(--box-shadow);
  height: 100%;
  width: 15rem;
  position: fixed;
  left: 0;
  z-index: 100;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 2rem 1rem;
}

a {
  color: white;
  font-size: 20px;
}

.logo > a,
.logout > a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-solid,
.fa-regular {
  color: var(--lead-black);
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/* content */

.main-section {
  height: 100vh;
  margin-left: 15rem;
  display: flex;
  align-items: center;
}

.main-container {
  width: 80vw;
  padding-left: 50px;
}

h2 {
  font-weight: 300;
  margin-bottom: 3.5rem;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.grid > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 0;
  border: 3px solid white;
  border-radius: 30px;
}
