/* navbar */
.sidenav {
	background-color: var(--lead-black);
	box-shadow: var(--box-shadow);
	height: 100%;
	width: 15rem;
	position: fixed;
	left: 0;
	z-index: 100;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem 0 2rem 1rem;
}

a {
	color: white;
	font-size: 20px;
}

.logo img {
	border-radius: 50%;
	max-width: 40px;
}

.logo {
	display: flex;
	gap: 0.5rem;
}

.logo > a,
.logout > a {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

.fa-solid,
.fa-regular {
	color: var(--lead-black);
	background-color: white;
	border-radius: 50px;
	padding: 10px;
}

.fa-pen-to-square {
	color: white;
	background: none;
	padding: 0;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

/* content */

.main-section {
	min-height: 100vh;
	margin-left: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.main-container {
	width: 80vw;
}

.dashboard {
	display: grid;
	grid-template-areas: 'head head';
	grid-template-columns: repeat(2, 45%);
	justify-content: center;
	gap: 2.3rem;
}

h2 {
	grid-area: head;
	font-weight: 300;
}

.main-container > a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 5rem 0;
	border: 3px solid white;
	border-radius: 30px;
}
