.main-section {
	justify-content: center;
}

.form-container {
	width: 30vw;
	padding: 20px;
	border: 1px solid #ccc;
}

h1 {
	margin-bottom: 1.5rem;
}

.message {
	margin-bottom: 1rem;
	padding: 10px;
	border-radius: 4px;
}

.message.error {
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: #721c24;
}

.message.success {
	background-color: #d4edda;
	border: 1px solid #c3e6cb;
	color: #155724;
}

.message.success a {
	color: #155724;
	font-size: 16px;
	text-decoration: underline;
}

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.input-container > label {
	font-size: 20px;
	margin-bottom: 5px;
}

.input-container > input,
.input-container > select,
.input-container > textarea {
	padding: 5px;
	height: 40px;
	font-size: 18px;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div[class*='option'] > input,
div[class*='option'] > select {
	width: 150px;
}

.content > textarea {
	height: 10rem;
	resize: vertical;
}

.submit {
	flex-direction: row;
	justify-content: space-between;
}

.submit input {
	width: 48%;
	padding: 10px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
