.main-section {
	padding-top: 2rem !important;
	padding-bottom: 0 !important;
}

.center-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.center-message .info,
.center-message .error {
	text-align: center;
}

.events-add form {
	width: 75%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas:
		'title title title'
		'option-1 option-2 .'
		'content content content'
		'submit . .';
}

.title {
	grid-area: title;
}

.option-1 {
	grid-area: option-1;
}

.option-2 {
	grid-area: option-2;
}

.content {
	grid-area: content;
}

.submit {
	grid-area: submit;
	margin-bottom: 0;
}

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.input-container > label {
	font-size: 20px;
	margin-bottom: 5px;
}

.input-container > input,
.input-container > select,
.input-container > textarea {
	padding: 5px;
	height: 40px;
	font-size: 18px;
}

div[class*='option'] > input,
div[class*='option'] > select {
	width: 250px;
}

.content > textarea {
	height: 10rem;
	resize: vertical;
}

.submit-button {
	width: 100px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #0056b3;
}

.line {
	border-top: 5px solid #fff;
	margin: 2rem 0;
}

table {
	width: 100%;
	border: 2px solid white;
}

thead {
	text-align: left;
}

th,
td {
	padding: 5px;
}

td > a {
	font-size: 16px;
	text-decoration: underline;
}

.no-event-box {
	background-color: white;
	color: black;
	padding: 10px;
	text-align: center;
	margin: auto;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 20px;
}
