.main-section {
	align-items: flex-start !important;
	padding-bottom: 0 !important;
}

.center-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.center-message .info,
.center-message .error {
	text-align: center;
}

div[class$='add'] form {
	width: 75%;
	display: flex;
	flex-direction: column;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.submit {
	grid-area: submit;
	margin-bottom: 0;
}

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.input-container > label {
	font-size: 20px;
	margin-bottom: 5px;
}

.input-container > input,
.input-container > select,
.input-container > textarea {
	padding: 5px;
	height: 40px;
	font-size: 18px;
}

div[class*='option'] > input,
div[class*='option'] > select {
	width: 250px;
}

.content > textarea {
	height: 10rem;
	resize: vertical;
}

.submit-button {
	width: 100px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #0056b3;
}

.line {
	border-top: 5px solid #fff;
	margin: 2rem 0;
}

table {
	width: 100%;
	border: 2px solid white;
}

thead {
	text-align: left;
}

th,
td {
	padding: 5px;
}

td > a {
	font-size: 16px;
	text-decoration: underline;
}

/* popup */
.popup.active {
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.25);
}

.popup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 1rem;
	width: 300px;
	padding: 20px;
	color: var(--lead-black);
	background-color: white;
	box-shadow: var(--box-shadow);
}

.card table {
	border: 1px solid black;
}

.card form {
	display: flex;
	justify-content: space-between;
}

.card form .button {
	padding: 10px;
	width: 120px;
}
