.section-title {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 36px;
	border-bottom: 2px solid white;
	padding-bottom: 10px;
}

.event-section {
	width: 100%;
}

.event-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 3rem;
	padding-right: 3rem;
}

.event-item {
	position: relative;
	width: calc(100% - 2rem);
	margin: 1rem 0;
	overflow: hidden;
	background-color: #000000;
	border-radius: 10px;
	border: 2px solid #ffffff; /* 白色边框 */
}

.event-date {
	position: absolute;
	top: 5px;
	left: 5px;
	font-weight: bold;
}

.event-details {
	position: relative;
	padding: 10px;
}

.event-title {
	text-align: center;
	font-size: 25px;
	border-bottom: 2px solid white;
}

.event-content {
	font-size: 20px;
	margin-top: 10px;
}

.no-results {
	border: 1px solid #fff;
	background-color: #5e5e5e;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	width: 600px;
}
