.main-section {
	width: 100%;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	padding-left: 6rem;
	padding-right: 3rem;
}

.event-item {
	width: 30%;
	margin: 1%;
	border: 1px solid #ccc;
	overflow: hidden;
}

.event-details {
	padding: 10px;
}

.event-date {
	font-weight: bold;
}

.event-title {
	margin-top: 5px;
	font-size: 18px;
}

.event-content {
	margin-top: 10px;
	font-size: 14px;
}

.more {
	margin-top: 10px;
	text-align: right;
	cursor: pointer;
	color: blue;
}

.more:hover {
	color: darkblue;
}

.enlarge {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 80%;
	max-height: 80%;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	overflow: auto;
}

.enlarge .news-item {
	max-width: 80%;
	max-height: 80%;
	background-color: #000000;
	border-radius: 10px;
	overflow: hidden;
}

.enlarge .news-details {
	padding: 20px;
	color: rgb(255, 255, 255);
	word-wrap: break-word;
}

.no-results {
	border: 1px solid #fff;
	background-color: #5e5e5e;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	width: 600px;
}
