.main-section {
	padding-top: 5rem !important;
	padding-bottom: 3rem !important;
}

.hero-container {
	background-image: url('../../assets/background.jpg');
	background-size: cover;
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text-box {
	background-color: rgba(0, 0, 0, 0.5);
	height: 30%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.text-box h1 {
	font-size: 36px;
}

.text-box p {
	font-size: 20px;
}

.section-title {
	padding-top: 3rem;
}

.more {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.more h1 {
	color: var(--lead-black);
	font-size: 36px;
}

.fa-circle-arrow-right {
	font-size: 100px;
	color: var(--lead-black);
}
