.account-section {
	padding-top: 8rem !important;
	padding-bottom: 4rem !important;
	height: 100vh;
	display: flex;
}

.forms-container {
	background-color: #fff;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
	width: 400px;
	padding: 30px;
	margin: auto;
}

/* Login & Register Form */

header {
	color: var(--lead-black);
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.popup.active {
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.25);
}

.popup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1.3rem;
	width: 300px;
	height: 370px;
	padding: 20px;
	color: var(--lead-black);
	background-color: white;
	box-shadow: var(--box-shadow);
}

.card .fa-solid {
	font-size: 130px;
}

.card.success i.fa-circle-check {
	display: block !important;
	color: #2ecc71;
}

.card.error i.fa-circle-xmark {
	display: block !important;
	color: #e74c3c;
}

.card a {
	font-size: 18px;
	color: var(--lead-black);
	border: 2px solid black;
	padding: 10px;
	width: 120px;
}

.forms-container form {
	box-sizing: border-box;
	padding-top: 30px;
	width: 100%;
}

.form-input {
	margin-top: 15px;
	padding-bottom: 20px;
	position: relative;
}

.form-input label {
	color: var(--lead-black);
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	padding-left: 5px;
	margin-bottom: 5px;
}

.form-input input {
	background-color: transparent;
	color: var(--eerie-black);
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #898989;
	display: block;
	font-size: 14px;
	padding: 10px 30px;
	width: 100%;
	outline: none;
}

.form-input span,
.form-input i {
	color: var(--lead-black);
	position: absolute;
	top: 34px;
}

.form-input span {
	left: 10px;
}

.form-input i {
	right: 10px;
	visibility: hidden;
}

.form-input small {
	visibility: hidden;
	position: absolute;
	padding-top: 2px;
}

.form-input.success input {
	border-color: #2ecc71;
}

.form-input.success i.fa-circle-check,
.form-input.success small {
	visibility: visible;
	color: #2ecc71;
}

.form-input.error input {
	border-color: #e74c3c;
}

.form-input.error i.fa-circle-exclamation,
.form-input.error small {
	visibility: visible;
	color: #e74c3c;
}

.form-link {
	width: 100%;
	text-align: center;
}

.form-link span,
.form-link a {
	color: var(--lead-black);
	font-size: 14px;
	font-weight: 300;
}

.form-link a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.form-button {
	display: flex;
	justify-content: space-between;
}

.form-button > input {
	width: 48%;
	font-size: 16px;
	color: var(--eerie-black);
	background: transparent;
	border: 2px solid var(--eerie-black);
	cursor: pointer;
	padding: 10px;
	margin: 15px 0;
	transition: all 0.3s ease;
}

.form-button > input:hover {
	background-color: var(--eerie-black);
	color: white;
}

/* Media Buttons */
.line {
	background-color: #898989;
	position: relative;
	height: 1px;
	width: 100%;
	margin: 38px 0 30px;
}

.line::before {
	content: 'OR';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	color: var(--lead-black);
	padding: 0 10px;
}

.media-options {
	display: flex;
	justify-content: space-around;
	margin-top: 1.5rem;
}

.media-options a {
	color: var(--lead-black);
	width: 45%;
	height: 2.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border: 1px solid #898989;
	border-radius: 2px;
	transition: all 0.2s ease-in;
}

.media-options a:hover {
	border-color: var(--black);
}

.media-options svg {
	width: 25px;
}

.media-options span {
	font-size: 14px;
}
