body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 80%;
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 3px solid #000000;
  padding: 10px;
  text-align: left;
  background-color: #8e8e8e;
  color: #ffffff;
}

th {
  background-color: #ff0000;
}
