.main-container  {
    color: white;
}

.user-info-table {
    color: black;
    font-size: 130%;
}

header {
    font-size:150%;
    color: white;
    text-decoration:underline;
}

table.info{
    width:450px;
    height:40px;
    font-size:25px;
    background-color: white;
    border: 2px solid black;
}

h3 {
    color:white;
}

table a {
    color:black;
    text-decoration:underline;
}

input {
    width:80px;
    height:40px;
    font-size:20px;
    border:2px solid;
}

td {
    padding: 10px 15px;
    font-style:italic;
}

#file {
    width:auto;
    font-size:20px;
    border:none;
}