.main-container  {
    color: white;
}

.user-info-table {
    color: black;
    width:1000px;
    text-align:center;
    font-size: 130%;
}

.edit-button button {
    border: solid 0.5px;
    color: black;
}

header {
    font-size:150%;
    color: white;
}

td {
    border:3px solid black;
}

tr {
    border:3px solid black;
}

th {
    border:3px solid black;
}

table.info{
    margin: 0 auto;
    width:900px;
    height:85px;
    background-color:white;
    border:4px solid black;
}

table a {
    color:black;
    text-decoration:underline;
}